###Variables

###Q1

In [2]:
x=1
y=420
x=x+y #x=421
y=x-y #y=1
x=x-y #x=420

print(x,y)

420 1


###Q2

In [5]:
x=int(input("Enter the length:"))
y=int(input("Enter the height:"))
area=x*y
print(area)

Enter the length:1
Enter the height:2
2

###Q3

In [7]:
Cel=int(input("Enter temp in celcius: "))
Far=(Cel*9/5)+32
print(Far)

Enter temp in celcius: 25
77.0

###String Based

###Q1

In [8]:
i=input("Enter text:  ")
print(len(i))

Enter text:  poop
4

###Q2

In [13]:
vow=['a','e','i','o','u']
sent=input("Enter Text:   ")
count=0
for word in sent:
  if word in vow:
    count+=1

print(count)

Enter Text:   i love food
5

###Q3

In [14]:
K='yellow'
print(K[::-1])  #o/p is rev string

wolley

###Q4

In [26]:
K='Jeep'
K=K.lower() #lower all char
if K==K[::-1]:  #check if rev is the same
  print("Palindrome")
else:
  print("Not A Palindrome")

Not A Palindrome

###Q5

In [27]:
ip=input("Enter the string:  ")
ip=ip.replace(" ",'') #using replace method
print(ip)

Enter the string:  food is love
foodislove