###Basic if else

In [ ]:
#Q1
n=5
if n>=0:
  print('+ve')
else:
  print('-ve')

+ve

In [ ]:
#Q2
n=18
if n>=18:
  print('Can vote')
else:
  print('Cannot vote')

Can vote

In [ ]:
#Q3
n1,n2=20,30
if n1>n2:
  print(f"{n1} is bigger")
else:
  print(f"{n2} is bigger")

30 is bigger

In [ ]:
#Q4
year=2025
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("Leap year")
else:
  print("Not")

Not

In [ ]:
#Q5
vow='aeiou'
char='t'
if char in vow:
  print("vowel")
else:
  print("Not")

Not

In [ ]:
#Q6
num=66
if num%2==0:
  print("Even")
else:
  print("Odd")

Even

In [ ]:
#Q7
num=-99
if num<0:
  print(num*-1)
else:
  print(num)

99

In [ ]:
#Q8
n1,n2,n3=9,15,2
if n1>n2:

  if n1>n3:
    print(n1)
elif n2>n1:
  if n2>n3:
    print(n2)
  else:
    print(n3)
else:
  print(n3)

15

In [ ]:
#Q9
text='nshfbh'
if text==text[::-1]:
  print("palindrome")
else:
  print("Not")

Not

In [ ]:
#Q10
sc=90
if sc>60:
  if sc<85:
    print("B")
  else:
    print("A")
else:
  print("F")

A

In [ ]:
#Q11
n1,n2,n3=9,44,2
if n1>n2:

  if n1>n3:
    print(n1)
elif n2>n1:
  if n2>n3:
    print(n2)
  else:
    print(n3)
else:
  print(n3)

44

In [ ]:
#Q12
s1,s2,s3=3,4,5
if s1==s2==s3:
  print("Equilateral")
else:
  if s1==s2 or s2==s3 or s1==s3:
    print("Isosceles")
  else:
    print("Scalene")

Scalene

In [2]:
#Q13
year = 1555


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")

    if year % 100 == 0:
        print(f"{year} is also a century year.")
    else:
        print(f"{year} is not a century year.")
else:
    print(f"{year} is not a leap year.")

1555 is not a leap year.

In [5]:
#Q14
n=5
if n>0:
  print('+ve')
elif n==0:
  print("0")
else:
  print('-ve')

+ve

In [7]:
#Q15
n=18
if n>13:
  if n<19:
    print('Can vote')
  else:
    print('Not a teen')
else:
  print('Not a teen')

Can vote

In [8]:
#Q16
n=199
if n!=90:
  if n>90:
    print("Obtuse")
  else:
    print("Acute")

else:
  print("Right")

Obtuse

In [10]:
#Q18
n=7
if n==1:
  print("Monday")
elif n==2:
  print("Tuesday")
elif n==3:
  print("Wednesday")
elif n==4:
  print("Thursday")
elif n==5:
  print("Friday")
elif n==6:
  print("Saturday")
elif n==7:
  print("Sunday")
else:
  print("Invalid number")

Sunday

In [5]:
#Q20
import math
n=17
if n<2 or n%2==0:
  print("False")
else:
  sqrt_n = int(math.sqrt(n))
  for i in range(3, sqrt_n + 1, 2):
        if n % i == 0:

          print(False)
          break
        else:
          print(True)

True

In [7]:
#Q23
height=1.77
weight=81.5
BMI=weight/(height**2)
if BMI<18.5:
  print("UnderWeight")
elif BMI<25:
  print("Normal")
else:
  print("Overweight")

Overweight

In [8]:
#Q24
num=-98
if num>0:
  print("Positive")
elif num==0:
  print("Zero")
else:
  print("Negative")

Negative

In [11]:
#Q25
char='u'
if char.isupper():
  print("Upper")
elif char.islower():
  print("Lower")
else:
  print("Special")

Lower