###For Loop

In [ ]:
#Q1
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q2
temp=[1,2,3,4]
count=0
for i in temp:
  count+=i
count

10

In [ ]:
#Q3
txt='apples'
for i in txt[::-1]:
  print(i)

s
e
l
p
p
a

In [ ]:
#Q4
n=5
prod=1
for i in range(1,n+1):
  prod=prod*i
prod

120

In [ ]:
#Q5
nums=[1,2,3,4,5,6,7,8,9,10]
nums1=7
for i in nums:
  prod=nums1*i
  print(f"7*{i}= {prod}")

7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70

In [ ]:
#Q6
even,odd=0,0
nums=[i for i in range(1,35)]
for i in nums:
  if i%2==0:
    even+=1
  else:
    odd+=1
print(f"Total even :{even}")
print(f"Total odd :{odd}")

Total even :17
Total odd :17

In [ ]:
#Q7
for i in range(1,6):
  print(i*i)

1
4
9
16
25

In [ ]:
#Q8
count=0
txt='fhjkebaqfea'
for i in txt:
  count+=1
count

11

In [ ]:
#Q9
nums=[i for i in range(1,35)]
len_nums=len(nums)
count=0
for i in nums:
  count+=i

avg=count/len_nums
print(f"Avg:{avg}")

Avg:17.5

In [ ]:
#Q10
n = 6
res = []

a, b = 0, 1

for i in range(n):
    res.append(a)
    a, b = b, a + b

res

[0, 1, 1, 2, 3, 5]

In [ ]:
#Q11
temp=[1,2,23,4,3,23]
flag=0
unique=[]
for i in temp:
    if i in unique:
        flag+=1
        break
    else:
        unique.append(i)


if flag!=0:
  print('duplicate')
else:
  print('None')

duplicate

In [ ]:
#Q12
count = 0
num = 2
prime_numbers = []

n=10
while count < n:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        prime_numbers.append(num)
        count += 1

    num += 1

prime_numbers

1.4142135623730951

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
#Q13
text='ahbcdhjasbfbhwsjfed'
vow='aeiou'
count=0
for i in text:
  if i in vow:
    count+=1
count

3

In [ ]:
#Q14
#Assuming no negatives
temp=[
    [2],
    [3],
    [4]
]
max=0
for row in temp:
  for element in row:
    if element>max:
      max=element

print(max)

4

In [ ]:
#Q15
temp=[1,2,4,3,4,5,4]
n=4
for i in temp:
  if i==n:
    temp.remove(i)
temp

[1, 2, 3, 5]

In [ ]:
#Q16
for i in range(1,6):
  for j in range(1,11):
    print(f"{i} x {j} ={i*j}")

1 x 1 =1
1 x 2 =2
1 x 3 =3
1 x 4 =4
1 x 5 =5
1 x 6 =6
1 x 7 =7
1 x 8 =8
1 x 9 =9
1 x 10 =10
2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10
2 x 6 =12
2 x 7 =14
2 x 8 =16
2 x 9 =18
2 x 10 =20
3 x 1 =3
3 x 2 =6
3 x 3 =9
3 x 4 =12
3 x 5 =15
3 x 6 =18
3 x 7 =21
3 x 8 =24
3 x 9 =27
3 x 10 =30
4 x 1 =4
4 x 2 =8
4 x 3 =12
4 x 4 =16
4 x 5 =20
4 x 6 =24
4 x 7 =28
4 x 8 =32
4 x 9 =36
4 x 10 =40
5 x 1 =5
5 x 2 =10
5 x 3 =15
5 x 4 =20
5 x 5 =25
5 x 6 =30
5 x 7 =35
5 x 8 =40
5 x 9 =45
5 x 10 =50

In [ ]:
#Q17
far=[77,87,98,99,54]
res=[((i - 32) * 5/9) for i in far]
res

[25.0,
 30.555555555555557,
 36.666666666666664,
 37.22222222222222,
 12.222222222222221]

In [ ]:
#Q18
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
for i in l1:
  if i in l2:
    print(i)

4
5

In [ ]:
#Q19
n=6
# Outer loop to iterate through the rows
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
#Q21
numbers=[1,2,3,66,77]

sums_of_digits = [sum(int(digit) for digit in str(num)) for num in numbers]

print("Sums of digits for each number:")
for i, num in enumerate(numbers):
    print(f"Number {num}: {sums_of_digits[i]}")

Sums of digits for each number:
Number 1: 1
Number 2: 2
Number 3: 3
Number 66: 12
Number 77: 14

In [ ]:
#Q23
temp1=[]
temp=[1,2,2,2,2,3,4,5,5]
res=[temp1.append(i) for i in temp if i not in temp1 ]
temp1

[1, 2, 3, 4, 5]

In [ ]:
#Q26
temp=[i for i in range(1,15)]
even=sum([i for i in temp if i%2==0])
odd=sum([i for  i in temp if i%2!=0])

print(f"even is : {even}")
print(f"odd is : {odd}")

even is : 56
odd is : 49

In [ ]:
#Q27
res=[i*i for i in range(1,10,2)]
res

[1, 9, 25, 49, 81]

In [ ]:
#Q29
vow='aeiou'
text='ngbdcnbhsvbfhgujvcbsdhjcsdnjmcospijjewfkijokwefdoaopxal'
res=[]
temp=[res.append(i) for i in text if i in vow]
res

['u', 'o', 'i', 'e', 'i', 'o', 'e', 'o', 'a', 'o', 'a']

In [ ]:
#Q30
text=['hellooallll1213243524nmngj','apples123','food420']


# Use list comprehension to remove non-numeric characters from each string
numeric_strings = [''.join(filter(str.isdigit, i)) for i in text]

# Print the cleaned numeric strings
print("Strings with non-numeric characters removed:")
print(numeric_strings)

Strings with non-numeric characters removed:
['1213243524', '123', '420']