###For Loop

In [1]:
#Q1
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#Q2
'''
For:
-->Typically used for a sequence or an iterable
-->Usually definite length which is set before enterting the loop  on the number of iterations
While:
-->Typically used  while a condition is True
-->Will go on infinitely until condition is False


'''

'\nFor:\n-->Typically used for a sequence or an iterable\n-->Usually definite length which is set before enterting the loop  on the number of iterations\nWhile:\n-->Typically used  while a condition is True\n-->Will go on infinitely until condition is False\n\n\n'

In [3]:
#Q3
sum=0
for i in range(1,101):
  sum+=i
sum

5050

In [4]:
#Q4

temp=[1,2,3,4,4,] #initialize list
for i in temp:  #initialize for loop  to go iterate through temp with in keyword
  print(i)

1
2
3
4
4

In [5]:
#Q5
prod=1
temp=[1,2,3,4,5]
for i in temp:
  prod=prod*i
prod

120

In [6]:
#Q6
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
#Q7
n=5
res=1
for i in range(1,n+1):
  res=res*i
  print(f" {i}:{res}")

 1:1
 2:2
 3:6
 4:24
 5:120

In [8]:
#Q8
text='poopshoothoop'
for i in text:
  print(i)

p
o
o
p
s
h
o
o
t
h
o
o
p

In [9]:
#Q9
temp=[1,2,34,5,56,2]
max=temp[0]
for i  in temp:
  if i>max:
    max=i
max

56

In [10]:
#Q10
a,b,n=0,1,6
print(a,b)
for i in range(2, n):
        # Calculate the next term by adding the previous two terms
  next_term = a + b
        # Update a and b for the next iteration
  a, b = b, next_term
        # Print the next term
  print(next_term, end=", ")

0 1
1, 2, 3, 5,

In [11]:
#Q11
text='eauijujdgne'
vow='aeiou'
count=0
for i in text:
  if i in vow:
    count+=1
count

6

In [12]:
#Q12
n=int(input("Enter num: "))
for i in range(1,11):
  prod=n*i
  print(f"{n} x{i} ={prod}")

Enter num: 4
4 x1 =4
4 x2 =8
4 x3 =12
4 x4 =16
4 x5 =20
4 x6 =24
4 x7 =28
4 x8 =32
4 x9 =36
4 x10 =40

In [13]:
#Q13
temp=[i for i in range(1,11)]
j=len(temp)-1
res=[0]*len(temp)
for i in temp:
  res[j]=temp[temp.index(i)]
  res[temp.index(i)]=temp[j]
  j-=1
res

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
#Q14
temp1=[1,2,3,4]
temp2=[3,4,5,6]

for i in temp1:
  if i in temp2:
    print(i)

3
4

In [15]:
#Q15
letters={1:'a',2:'b',3:'c'}
for i in letters:
  print(f"{i} is the key and {letters[i]} is the value")
  '''
  Cannot directly iterate through the values of a dictionary but only the keys.
  Through the keys we can call the values so that is done instead

  '''

1 is the key and a is the value
2 is the key and b is the value
3 is the key and c is the value

In [16]:
#Q16
greatest=1
n1=55
n2=60
for i in range(1,n1+1):
  if n1%i==0 and n2%i==0:
    if i >greatest:
      greatest=i
greatest

5

In [17]:
#Q17
text='poop'
res=''
for i in text[::-1]:
  res=res+i
if res==text:
  print("Palindrom")
else:
  print("Not")

Palindrom

In [18]:
#Q18
temp=[1,2,3,4,54,5,5]
res=set()
for i in temp:
  res.add(i)

res=list(res)
res

[1, 2, 3, 4, 5, 54]

In [19]:
#Q19
sent='i love to eat food and go to the gym'
temp=sent.split(" ")
count=0
for i in temp:
  count+=1

count

10

In [20]:
#Q20
for i in range(1,50):
  if i %2!=0:
    print(f" {i} is odd")

 1 is odd
 3 is odd
 5 is odd
 7 is odd
 9 is odd
 11 is odd
 13 is odd
 15 is odd
 17 is odd
 19 is odd
 21 is odd
 23 is odd
 25 is odd
 27 is odd
 29 is odd
 31 is odd
 33 is odd
 35 is odd
 37 is odd
 39 is odd
 41 is odd
 43 is odd
 45 is odd
 47 is odd
 49 is odd

In [21]:
#Q21
year=2008

if year%400==0 :
  print(True)
elif year%4 == 0 and year%100 != 0:
  print(True)
else:
  print(False)

True

In [22]:
#Q23
n1=5
n2=21
if n1>n2:
  greater=n1
else:
  greater=n2


while True:
  if((greater%n1==0) and (greater%n2==0)):
    lcm=greater
    break
  greater+=1
lcm

105

###IF ELSE

In [23]:
#Q1
n=9
if n>0:
  print("Positive")
else:
  if n==0:
    print("Zero")
  else:
    print("Negative")

Positive

In [24]:
#Q2
n=9
if n%2==0:
  print("Even")
else:
  print("Odd")

Odd

In [25]:
#Q3
n=9
if n>0:
  print("Positive")
else:
  if n==0:
    print("Zero")
  else:
    print("Negative")

'''
Above is an example of a program to detect if a number is positive/negative/zero using nested if-else statement
'''

Positive

'\nAbove is an example of a program to detect if a number is positive/negative/zero using nested if-else statement\n'

In [26]:
#Q4
nums=[1,3,54]
biggest=nums[0]

if biggest>nums[1] and biggest>nums[2]:
  print(biggest)
elif nums[1]>biggest and nums[1]>nums[2]:
  print(nums[1])
else:
  print(nums[2])

54

In [27]:
#Q5
num=-9
if num>0:
  print(num)
else:
  print(abs(num))

9

In [28]:
#Q6
vow='aeiou'
n='d'
if n in vow:
  print("Vowel")
else:
  print("Consonant")

Consonant

In [29]:
#Q7
age=88
if age>=18:
  print("Can Vote")
else:
  print("Cannot Vote")

Can Vote

In [30]:
#Q8
amt=8888
if amt>1000 and amt<2000:
  disc=0.1
elif amt>2000 and amt<4000:
  disc=0.25
elif amt>4000:
  disc=0.35
else:
  disc=0
final=amt-(amt*disc)
int(final)

5777

In [31]:
#Q9
amt=8888
if amt>1000 and amt<2000:
  print("Between 1000-2000")
elif amt>2000 and amt<4000:
  print("Between 2000 and 4000")
elif amt>4000:
  print("More than 4000")
else:
  print("Less than 1000 to -infinity")

More than 4000

In [32]:
#Q10
score=87
if score>90:
  print("A")
elif score>80:
  print("B")
elif score >70:
  print("C")
elif score>60:
  print("D")
else:
  print("F")

B

In [33]:
#Q11
text='fdfs'
if len(text)>0:
  print("Not empty")
else:
  print("Empty")

Not empty

In [34]:
#Q12
s1,s2,s3=2,3,4
if s1==s2 and s1==s3:
  print("Equilateral")
else:
  if s2==s3 or s2==s1:
    print("Isosceles")
  else:
    print("Scalene")

Scalene

In [35]:
#Q13
n=5
if n==1:
  print("Monday")
elif n==2:
  print("Tuesday")
elif n==3:
  print("Wednesday")
elif n==4:
  print("Thursday")
elif n==5:
  print("Friday")
elif n==6:
  print("Saturday")
elif n==7:
  print("Sunday")
else:
  print("Invalid day")

Friday

In [36]:
#Q14
year=2020

if year%400==0 :
  print(True)
elif year%4 == 0 and year%100 != 0:
  print(True)
else:
  print(False)

True

In [37]:
#Q15
'''
Used for debugging purposes to check if a given condition is true.If false it will be triggered.
'''

'\nUsed for debugging purposes to check if a given condition is true.If false it will be triggered.\n'

In [38]:
#Q16
age=88
if age>75:
  disc=0.2
  print("Can avail")
else:
  disc=0
  print("Cannot avail")

Can avail

In [39]:
#Q17
text='AAA'
if text.isupper():
  print("Uppercase")
else:
  if text.islower():
    print("Lowercase")
  else:
    print("Neither")

Uppercase

In [40]:
#Q19
year=2020
if year%100==0:
  print("Century year")
else:
  print("Not a century year")

Not a century year

In [41]:
#Q20
import math
n=4
if math.sqrt(n).is_integer():
  print(True)
else:
  print(False)

True

In [42]:
#Q21
'''
The continue statement just makes sure the iteration goes to the next iteration .Within an if else statement
Break causes the iteration to stop and exit the loop
'''
i=[1,2,3,4]
for k in i:
  if k==2:
    continue
  print(k)

1
3
4

In [43]:
#Q22

weight = 82
height = 1.77
x = weight/float(height*height);
if x < 18.5:
    print('Underweight')
if x>=18.5 and x<25:
    print("Normal")
if x >= 25 and x < 30:
   print('Overweight')
if x >= 30:
   print('Obesity')
print(x)

Overweight
26.173832551310287

In [44]:
#Q23
n=7
res=[]
for i in range(1,n+1):
  if n%i==0:
    res.append(i)

if len(res)>2:
  print("Not Prime")
else:
  print("Prime")

Prime

###Map

In [45]:
#Q1
'''
Lets us apply a function on an iterable.
ex:
def square(x):
  return x*x

temp=[1,2,3,4,5]
res=list(map(square,temp))  #Using the map to square every digit by creating a square function  in a list temp
res
'''

'\nLets us apply a function on an iterable.\nex:\ndef square(x):\n  return x*x\n\ntemp=[1,2,3,4,5]\nres=list(map(square,temp))  #Using the map to square every digit by creating a square function  in a list temp\nres\n'

In [46]:
#Q2
def square(x):
  return x*x
temp=[1,2,3,4,5]
res=list(map(square,temp))
res

[1, 4, 9, 16, 25]

In [47]:
#Q3
'''
Map is used for more complex transformations while list comprehensions are used for easier transformations.

'''

'\nMap is used for more complex transformations while list comprehensions are used for easier transformations.\n\n'

In [48]:
#Q4
temp=['ryan','naruto','itachi','luffy']
def up(x):
  return x.upper()

res=list(map(up,temp))
res

['RYAN', 'NARUTO', 'ITACHI', 'LUFFY']

In [49]:
#Q5
temp=['ryan','naruto','itachi','luffy']
def length(x):
  return len(x)

res=list(map(length,temp))
res

[4, 6, 6, 5]

In [50]:
#Q6
l1 = [1, 2, 3]
l2 = [4, 5, 6]

def add(x, y):
    return x + y

result = list(map(add, l1, l2))

result

[5, 7, 9]

In [51]:
#Q7

temp=[27,28,37]
def Cel2Far(x):
  res=x*1.8+32
  return res

res=list(map(Cel2Far,temp))
res

[80.6, 82.4, 98.60000000000001]

In [52]:
#Q8
nums= [1.3, 2.7, 3.5, 4.2, 5.9]

def Round(x):
  return round(x)

res=list(map(Round,nums))
res

[1, 3, 4, 4, 6]

###Reduce

In [56]:
#Q1
'''
It lets us iterate through an iterable cumulatively reducing the iterable to a single value
The functools module needs to be imported
'''
#Sample use case:
temp=[i for i in range(1,10)]

def mult(x,y):
  return x*y

res=reduce(mult,temp)
res

362880

In [55]:
#Q2
from functools import reduce
temp=[i for i in range(1,10)]

def mult(x,y):
  return x*y

res=reduce(mult,temp)
res

362880

In [ ]:
#Q3
temp=[2,4,5,67,8]

def gr8(x,y):
  big= max(x,y)
  return big

res=reduce(gr8,temp)
res

In [64]:
#Q4
temp=['i','love','subway']

def comb(x,y):
  return x+y

res=reduce(comb,temp)
res

'ilovesubway'

In [65]:
#Q5
n=5
temp=[i for i in range(1,n+1)]

def fact(x,y):
  return x*y

res= reduce(fact,temp)
res

120

In [62]:
#Q6
temp=(45,80)
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

res=reduce(gcd,temp)
res

5

In [ ]:
#Q7
n=7895
n=str(n)
def count(x,y):
  x,y=int(x),int(y)
  return x+y

res=reduce(count,n)
res

###Filter

In [76]:
#Q1
'''
Used to filter out and apply a conditional to an iterable
ex--->
Sample code to filter out even numbers from a list
'''
def is_even(num):
    return num % 2 == 0

temp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = filter(is_even, temp)

res = list(even)

print(res)

[2, 4, 6, 8, 10]

In [61]:
#Q2
def is_even(num):
    return num % 2 == 0

temp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = filter(is_even, temp)

res = list(even)

print(res)

[2, 4, 6, 8, 10]

In [75]:
#Q3
from functools import reduce

temp=['appu','nirmal','ammu','sudheer']

def strt(x):
  return x.startswith('a')

res=list(filter(strt,temp))
res

['appu', 'ammu']

In [78]:
#Q4
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False

    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6

    return True

temp=[i for i in range(1,20)]
res=list(filter(is_prime,temp))
res

[2, 3, 5, 7, 11, 13, 17, 19]

In [81]:
#Q5
temp=[None,1,2,3,None]

def rem(x):
  return x!=None

res=list(filter(rem,temp))
res

[1, 2, 3]

In [83]:
#Q6
temp=['fsfse','apples','kundi','dog','elephant']

def rem(x):
  return len(x)>5


res=list(filter(rem,temp))
res

['apples', 'elephant']

In [84]:
#Q7
temp=[122,3,32,5345]

def rem(x):
  return x>1000

res=list(filter(rem,temp))
res

[5345]

###Basics of functions

In [1]:
#Q1
'''
A function is a block of code that helps w reuseability that performs a given task.
'''

'\nA function is a block of code that helps w reuseability that performs a given task.\n'

In [3]:
#Q2
def prod(x):
  return x*x

prod(6)
'''
In the above code  using a function called prod ive squared the input number
'''

'\nIn the above code  using a function called prod ive squared the input number\n'

In [4]:
#Q3
def prod(x):      #This would be the definition of the function ,where we define what it must do
  return x*x

prod(6)           #This would  be the calling of the function ,where we  call the function to carry out the set task for the provided value '6'

36

In [5]:
#Q4
def Sum(x,y):
  return(x+y)

Sum(1,2)

3

In [6]:
#Q5
'''
The function signature provides us with the data type that is being expected to the function as well as the output data type too
'''

'\nThe function signature provides us with the data type that is being expected to the function as well as the output data type too\n'

In [7]:
#Q6
def prod(x,y):
  return x*y

prod(42,10)

420

###Recursion

In [8]:
#Q1

In [11]:
#Q2
def fact(x):
  if x==0 or x==1:
    return 1
  return x*fact(x-1)


fact(3)

6

In [14]:
#Q3
def fib(x):
  if x==0:
    return 0
  elif x==1:
    return 1
  return fib(x-1)+fib(x-2)

fib(5)

5

In [17]:
#Q4
temp=[i for i in range(1,5)]
print(temp)
def Sum(x):
  if len(x)==0:
    return 0
  else:
    return x[0]+Sum(x[1:])

Sum(temp)

[1, 2, 3, 4]

10

In [18]:
#Q5
'''
To prevent a stack over flow error we can set a recurstion depth
'''

'\nTo prevent a stack over flow error we can set a recurstion depth\n'

In [20]:
#Q6
n1,n2=10,45
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

gcd(n1,n2)

5

In [21]:
#Q7
def rev(s):
    if len(s) <= 1:
        return s
    else:
        # Recursive case: Reverse the substring excluding the first character and append the first character
        return rev(s[1:]) + s[0]

rev('apples')

'selppa'

In [22]:
#Q8
x=2
n=3
def prod(x,n):
  if x==0 :
    return 0
  elif n==0:
    return 1
  else:

    return x*prod(x,n-1)

prod(x,n)

8

In [23]:
#Q10
def pal(s):
    # Base case: If the string has 0 or 1 character, it's a palindrome
    if len(s) <= 1:
        return True
    else:
        # Compare the first and last characters and recursively check the inner substring
        if s[0] == s[-1]:
            return pal(s[1:-1])
        else:
            return False


pal("apples")

False

###Function Parameters and Arguments

In [24]:
#Q1
'''
A formal parameters purpose is that they act as placeholders for the values that the function expects to receive when it is called.They also act as default values for the function
Actual Arguments are the actual values that are provided to the  function during the fucntion call.
'''

'\nA formal parameters purpose is that they act as placeholders for the values that the function expects to receive when it is called.They also act as default values for the function\nActual Arguments are the actual values that are provided to the  function during the fucntion call.\n'

In [25]:
#Q2
def welc(name, greeting="Get out"):
    print(f"{greeting}, {name}!")


welc('loser')

Get out, loser!

In [26]:
#Q3
def greet(name, greeting="Hello", punctuation="."):
    message = f"{greeting}, {name}{punctuation}"
    return message

# Using keyword arguments to call the function
message1 = greet(name="Loudesh", greeting="Hi", punctuation="!")
message2 = greet(greeting="Hey", name="raju")

print(message1)
print(message2)

Hi, Loudesh!
Hey, raju.

In [27]:
#Q4
def Sum(*x):  # Inside the function, x becomes a tuple containing all the arguments passed
  total=0
  for n in x:
    total+=n
  return total

Sum(1,2,3,4,5,5,6)

26

In [28]:
#Q5
'''
*args lets us take in a variable number of positional arguments
while
**kwargs lets us take in a variable number of  keyword arguments
'''

'\n*args lets us take in a variable number of positional arguments\nwhile\n**kwargs lets us take in a variable number of  keyword arguments \n'

###Return Values and Scoping

In [ ]:
#Q1
'''
In python the return value is used to provide the output of a given function code block
ex:
'''
def Sum(*x):  # Inside the function, x becomes a tuple containing all the arguments passed
  total=0
  for n in x:
    total+=n
  return total

Sum(1,2,3,4,5,5,6)

In [1]:
#Q2
'''
A Global variable is a variable that is  accessible from anywhere within the script or module


A local variable is a variable defined within a specific function or block of code and it is only accessible and visible within the function or block where it is defined.

'''

'\nA Global variable is a variable that is  accessible from anywhere within the script or module\n\n\nA local variable is a variable defined within a specific function or block of code and it is only accessible and visible within the function or block where it is defined.\n\n'

In [6]:
#Q3
y=55
global y
def sum():
  return y*2

sum()

110

In [10]:
#Q4
x = 10  # This is a global variable

def my_function():
    global x
    x += 5

x

10

In [11]:
#Q5
'''
To access variable that is defined outside the function we can call it by making it a global variable.
'''

'\nTo access variable that is defined outside the function we can call it by making it a global variable.\n'

###Lambda Functions and Higher-Order Functions:

In [1]:
#Q1
'''
They are typically used in situations where you need a simple, short function for a short period of time and don't want to define a full function using the def keyword.
'''

"\nThey are typically used in situations where you need a simple, short function for a short period of time and don't want to define a full function using the def keyword.\n"

In [2]:
#Q2
data = [(1, 5), (3, 2), (2, 8), (4, 1)]

res = sorted(data, key=lambda x: x[1])

res

[(4, 1), (3, 2), (1, 5), (2, 8)]

In [3]:
#Q3
"""
a higher-order function is a function that can take one or more functions as arguments and/or return a function as its result.
"""
def ap_op(op, x, y):
    return op(x, y)

def add(x, y):
    return x + y

res=ap_op(add, 5, 3)
res

8

In [15]:
#Q4
def ap(temp,func):
  res=[]
  for num in temp:
    res.append(mult(num))


  return res


def mult(x):
  return x*2

temp=[i for i in range(1,4)]
res=ap(temp,mult)
res

[2, 4, 6]

###Built in Functions

In [16]:
#Q1
'''
len()-Returns the number of elements  in a given collection
min()-Finds the minimum value from a collection of values
max()-Finds the maximum value from a colleciton of values
'''

'\nlen()-Returns the number of elements  in a given collection\nmin()-Finds the minimum value from a collection of values\nmax()-Finds the maximum value from a colleciton of values\n'

In [22]:
#Q2
def add(x):
  return x+2
temp=[1,2,3]
res=list(map(add,temp))

In [23]:
#Q3
'''
Filter is used to apply a conditional to an iterable
'''

def ck(x):
  return x>2

temp=[1,2,3,4]
res=list(filter(ck,temp))
res

[3, 4]

In [25]:
#Q4
from functools import reduce
def prod(x,y):
  return x*y

temp=[1,2,3,4,5,56]
res=reduce(prod,temp)
res

6720

###Best Practices

In [ ]:
#Q1
'''
Docstrings in Python are used to provide documentation and descriptions for
functions, classes, and modules. They serve as a form of inline documentation, allowing developers to describe the purpose, usage, and other important information about the code
'''

In [26]:
#Q2
'''
Some of the best practices are
1.Use Descriptive and Readable Names
2.Be consistent
3.Use lowercase letters for variables and functions
4.Instead of spaces use'_'
5.Constants in Uppercase


'''

"\nSome of the best practices are\n1.Use Descriptive and Readable Names\n2.Be consistent\n3.Use lowercase letters for variables and functions\n4.Instead of spaces use'_'\n5.Constants in Uppercase\n\n\n"